header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    height: 10vh;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: relative;
    box-shadow: 0 0 1rem .2rem #000;
  }
  
  nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: var(--mainColor);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    gap: 1.5rem;
    font-size: 1.4rem;
    z-index: 3;
  }
  
  nav.responsive_nav {
    transform: translateX(0);
  }
  
  nav a {
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    transition: 0.3s;
  }
  
  nav a:hover, .user-data a:hover {
    color: var(--secondaryColor);
    scale: 1.1;
  }
  
  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 1rem;
    background: var(--textColor);
    color: var(--mainColor);
    cursor: pointer;
    z-index: 4;
    transition: background 0.3s;
  }
  
  .nav-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-icon-wrapper.clicked {
    animation: rotateIcon 1s ease;
  }
  
  @keyframes rotateIcon {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.player-area {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status {
  font-size: 0.8rem;
  opacity: .9;
  color: var(--secondaryColor);
}

.album-image {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 1rem;
}

.audio-canvas-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* usa a altura do header */
  pointer-events: none;
  z-index: 0;
  background: transparent;
  opacity: 0.6;
}


.play-pause-btn {
  background: none;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: .3s all;
}

.play-pause-btn:hover {
  color: var(--secondaryColor);
  scale: 1.1;
}

.user-data a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
}

.user-data img {
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-data span {
  transition: 0.3s;
}