.about-bg {
    background-color: var(--mainColorLight);
    height: 90vh;
}

.about-info {
    color: var(--textColor);
    padding: 10rem 5rem;
    display: flex;
    justify-content: space-between;
}

.img-radio {
    width: 20vw;
    border-radius: 20%;
}

.about-text {
    max-width: 50vw;
    font-size: 1.6rem;
}