@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {
  --mainColor: #0060AC;
  --mainColorLight: #4b98d6;
  --secondaryColor: #ceb144;
  --textColor: #eee;
  --mainColorDark: #001c33;

  --backgroundAdmin: #2C2A3D;
  --textAdmin: #00FFF6;
  --adminAction: #FF6B6B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}